body{
    background-image: url("../img/blockchain-3448502_1920-2.jpg");

    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.header{
    background-color: lightgrey;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
    border-bottom: black;
    border-width: 2px;
}


/*
.nav-link:hover{
    background-color: blue;
    color: white;
}
*/

.nav-link{
    color: blue;
    color: snow;
}

#AboutPage{
    color: snow;
}